<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.khatri.delightfulrecipes" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" >
        </activity>
        <activity android:name=".database.DB_Parse"/>
        <activity android:name=".Vjainstarters"/>
        <activity android:name=".Vstarters"/>
        <activity android:name=".NonJainStarters"/>
        <activity android:name=".ChickenStarters"/>
        <activity android:name=".Nvstarters"/>
        <activity android:name=".ComingSoon"/>
        <activity android:name=".Vegmaincourse"/>
        <activity android:name=".Nonvegmaincourse"/>
        <activity android:name=".Rice"/>
        <activity android:name=".Occasion"/>
        <activity android:name=".Salad"/>
        <activity android:name=".Dessert"/>
        <activity android:name=".About"/>
    </application>

</manifest>